logs

android/app/google-services--use-values-in-here.json
android/app/google-services--use-values-in-here.json
node_modules
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
